.header {
  font-size: 100px;
  word-spacing: -10px;
}

body {
  height: 170vh;
}

.bio {
  margin-left: 180px;
  margin-top: 100px;
}

.capt {
  font-size: 20px;
  text-align: justify;
}

.biodata {
  font-size: 20px;
}

.profpic img {
  float: right;
  margin-top: 50px;
  margin-right: 200px;
  border-radius: 50%;
}

header {
  height: 43vh;
  width: 100%;
  top: -50px;
  position: relative;
  z-index: -1;
  background-image: url(img/Minecraft.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  float: left;
  background-color: #000000;
  height: 65px;
  padding: 0px 120px;
}

nav .navlogo {
  width: 200px;
  float: left;
  margin-right: 200px;
}
nav .logo_asus {
  width: 80px;
  margin-top: 28px;
  margin-left: 650px;
}
nav a {
  text-decoration: none;
}
nav a .garis_lurus {
  background-color: grey;
  height: 30px;
  width: 1px;
  position: absolute;
  right: 240px;
  top: 20px;
}

nav ul {
  float: left;
  overflow: hidden;
  padding-top: 25px;
}

nav ul li {
  display: inline;
}
nav ul li a {
  /* margin-top: 20px; */
  text-decoration: none;
  padding: 0 5px;
  color: white;
  text-align: center;
}

.navbar_2 {
  background-color: red;
  width: 100%;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.clear {
  content: " ";
  display: table;
  clear: both;
}
footer {
  margin-top: 400px;
  background-image: url(img/footer);
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 80px;
}

footer ul {
  float: left;
  overflow: hidden;
  padding-top: 25px;
}
footer .sosmed {
  float: right;
  font-size: 25px;
}

footer ul li {
  display: inline;
}
footer ul li a {
  /* margin-top: 20px; */
  text-decoration: none;
  padding: 0 5px;
  color: #bfbfbf;
  text-align: center;
}
footer ul li a:hover {
  color: red;
}
footer li:not(:first-child) {
  margin-left: 40px;
}

footer p {
  margin-top: 20px;
  color: #bfbfbf;
}

footer .kebijakan {
  margin-top: -40px;
  float: right;
  color: #bfbfbf;
  font-size: 13px;
}

footer .garis {
  width: 100%;
  background-color: #bfbfbf;
  height: 0.2px;
  margin-top: 15px;
}
textarea {
  margin-top: 10px;
  border-radius: 10px;
}
